
<div class="p-4 text-center">
    <div class="">
        <h2>The course is goint to be start soon.</h2>

        <p>You are invited</p>

        <a class="btn btn-primary" asp-action="AddRequest">Create Request</a>
    </div>
</div>