@model Request
@{
    ViewData["Title"] = "Thanks";
}

<div class="text-center">

    <h1>Thanks, @Model.Name</h1>

    <h4>The course will be nice.</h4>
    
    <a class="btn btn-primary" asp-action="List">Check course list..</a>
</div>
